{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ projet.date ? projet.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ projet.client }}</td>
            </tr>
        </tbody>
    </table>
    {% for image in projet.images %}
    <img src="{{ asset('/uploads/' ~ image.name) }}" class="card-img-top" alt="...">
    {% endfor %}
    <a href="{{ path('home') }}" class="btn btn-lg btn-primary">back to list</a>
{% endblock %}
